<div class="colorblocklight">
	<div id="reviews">

		<div id='wsite-content' class='wsite-elements wsite-not-footer'>
			<h2 class="wsite-content-title" style="text-align:center;">What Our Customers Say...</h2>

			<div style="margin-top:15px;"></div>
			<div class="uk-grid">
				<div class="uk-width-1-6" style="background:#E6C1C9;min-height:160px;margin-right:-10px;">	
	<!-- IMAGE ONE -->
				   	<a href="#brittany_pics" data-uk-modal>
						<%= image_tag 'pic22.jpeg', :class =>'galleryImageBorder galleryHeader wsite-image', :style => "margin-left:-20px;" %>
					</a>
				</div>
				<div class="uk-width-1-3" style="background:#E6C1C9;min-height:160px;margin-right:10px;">
	<!-- DESCRIPTION + GALLERY ONE -->
						<div class="paragraph" style="text-align:left;display:block;padding-top:5px;">Brittany, 29, Berkeley<br />"I spent for-EVER calling florists and trying to get prices. RoseBid made it really easy! My flowers were beautiful!"</div>
	
								<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
								<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
								<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
								<div class='galleryInnerImageHolder'>
					    			<a href="#brittany_pics" data-uk-modal>
									<%= image_tag 'pic6.jpeg', :class =>'galleryImage' %>
									</a>
								</div></div></div></div>


								<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
								<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
								<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
								<div class='galleryInnerImageHolder'>
					    			<a href="#brittany_pics" data-uk-modal>
        								<%= image_tag 'pic20.jpeg' , :class =>'galleryImage'%>
									</a>
								</div></div></div></div>
        

								<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
								<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
								<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
								<div class='galleryInnerImageHolder'>
					    			<a href="#brittany_pics" data-uk-modal>
        								<%= image_tag 'pic21.jpeg', :class =>'galleryImage' %>
									</a>
								</div></div></div></div>


								<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
								<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
								<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
								<div class='galleryInnerImageHolder'>
					    			<a href="#brittany_pics" data-uk-modal>
        								<%= image_tag 'pic18.jpeg', :class =>'galleryImage' %>
									</a>
								</div></div></div></div>

				    </div>
				     

				    <div class="uk-width-1-6" style="margin-left:10px;margin-right:-10px;background:#D6BFD5;min-height:160px;">
	<!-- IMAGE TWO -->
				    	<a href="#angie_pics" data-uk-modal>
							<%= image_tag 'pic23.jpeg', :class =>'galleryImageBorder galleryHeader wsite-image', :style => "margin-left:-20px;" %>
							</a>

				    </div>
				    <div class="uk-width-1-3" style="background:#D6BFD5;min-height:160px;">
	<!-- DESCRIPTION + GALLERY TWO -->
						<div class="paragraph" style="text-align:left;display:block;padding-top:5px;">Angie, 26, Sausalito<br />"Planning a destination wedding was a lot of work, but thanks to RoseBid getting the perfect flowers was easy!"</div>




											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='611970405564771423-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='611970405564771423-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href="#angie_pics" data-uk-modal>
													<%= image_tag 'pic24.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer1' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer1' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href="#angie_pics" data-uk-modal>
													<%= image_tag 'pic25.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='611970405564771423-insideImageContainer2' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href="#angie_pics" data-uk-modal>
													<%= image_tag 'pic26.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer3' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer3' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href="#angie_pics" data-uk-modal>
														<%= image_tag 'pic27.jpeg', :class =>'galleryImage' %>
													</a>
												</div></div></div></div>
											
												<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
							</div>


				    </div>
				</div>



				<div style="margin-top:15px;">
				<div class="uk-grid">
				    <div class="uk-width-1-6" style="background:#D6BFD5;min-height:160px;margin-right:-10px;">	
	<!-- IMAGE THREE -->
				    	<a href="#jennifer_pics" data-uk-modal>
							<%= image_tag 'pic28.jpeg', :class =>'galleryImageBorder galleryHeader wsite-image', :style => "margin-left:-20px;" %>
							</a>
					</div>

				    <div class="uk-width-1-3" style="background:#D6BFD5;min-height:160px;margin-right:10px;">
	<!-- DESCRIPTION + GALLERY THREE -->
				    		<div class="paragraph" style="text-align:left;display:block;padding-top:5px;">Jennifer, 25, San Francisco<br />"RoseBid was so easy to use. &nbsp;I filled in my style profile &amp; almost immediately had reasonable quotes from florists in my area."</div>
	
								<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
								<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
								<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
								<div class='galleryInnerImageHolder'>
					    			<a href="#jennifer_pics" data-uk-modal>
									<%= image_tag 'pic29.jpeg', :class =>'galleryImage' %>
									</a>
								</div></div></div></div>

								<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
								<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
								<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
								<div class='galleryInnerImageHolder'>
					    			<a href="#jennifer_pics" data-uk-modal>
									<%= image_tag 'pic30.jpeg', :class =>'galleryImage' %>
									</a>
								</div></div></div></div>

								<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
								<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
								<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
								<div class='galleryInnerImageHolder'>
					    			<a href="#jennifer_pics" data-uk-modal>
									<%= image_tag 'pic31.jpeg', :class =>'galleryImage' %>
									</a>
								</div></div></div></div>

								<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
								<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
								<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
								<div class='galleryInnerImageHolder'>
					    			<a href="#jennifer_pics" data-uk-modal>
									<%= image_tag 'pic32.jpeg', :class =>'galleryImage' %>
									</a>
								</div></div></div></div>					
						</div>


<!-- IMAGE FOUR -->

				    <div class="uk-width-1-6" style="margin-left:10px;margin-right:-10px;background:#E6C1C9;min-height:160px;">
			    	<a href="#caroline_pics" data-uk-modal>
							<%= image_tag 'pic33.jpeg', :class =>'galleryImageBorder galleryHeader wsite-image', :style => "margin-left:-20px;" %>
							</a>

				    </div>
				    <div class="uk-width-1-3" style="background:#E6C1C9;min-height:160px;">
	<!-- DESCRIPTION + GALLERY FOUR -->
						<div class="paragraph" style="text-align:left;display:block;padding-top:5px;">Caroline, 27, Berkeley<br />"Planning a destination wedding was a lot of work, but thanks to RoseBid getting the perfect flowers was easy!"</div>



											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='611970405564771423-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='611970405564771423-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href="#caroline_pics" data-uk-modal>
													<%= image_tag 'pic34.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>

											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='611970405564771423-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='611970405564771423-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href="#caroline_pics" data-uk-modal>
													<%= image_tag 'pic35.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>

													<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='611970405564771423-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='611970405564771423-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href="#caroline_pics" data-uk-modal>
													<%= image_tag 'pic16.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>

													<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='611970405564771423-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='611970405564771423-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href="#caroline_pics" data-uk-modal>
													<%= image_tag 'pic17.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



<!-- http://www.getuikit.com/docs/modal.html -->								

					<div id="brittany_pics" class="uk-modal">
    						<div class="uk-modal-dialog" style="margin-top:150px;width:70%;min-height:400px;">
        						<a href="" class="uk-modal-close uk-close uk-close-alt"></a>
        							<h2>Brittany, 29, Berkeley</h2><br>
        										"I spent for-EVER calling florists and trying to get prices. RoseBid made it really easy! My flowers were beautiful!"<br>
        										<span class="crop"><%= image_tag 'pic22.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic6.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic20.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic21.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic18.jpeg' %></span>
    						</div>
					</div>
					
					<div id="angie_pics" class="uk-modal">
    						<div class="uk-modal-dialog" style="margin-top:150px;width:70%;min-height:400px;">
        						<a href="" class="uk-modal-close uk-close uk-close-alt"></a>
        							<h2>Angie, 26, Sausalito</h2><br>
        										"I spent for-EVER calling florists and trying to get prices. RoseBid made it really easy! My flowers were beautiful!"<br>
        										<span class="crop"><%= image_tag 'pic23.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic24.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic25.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic26.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic27.jpeg' %></span>
    						</div>
					</div>

					<div id="jennifer_pics" class="uk-modal">
    						<div class="uk-modal-dialog" style="margin-top:150px;width:70%;min-height:400px;">
        						<a href="" class="uk-modal-close uk-close uk-close-alt"></a>
        							<h2>Jennifer, 25, San Francisco</h2><br>
										"RoseBid was so easy to use. &nbsp;I filled in my style profile &amp; almost immediately had reasonable quotes from florists in my area."<br>
        										<span class="crop"><%= image_tag 'pic28.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic29.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic30.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic31.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic32.jpeg' %></span>
    						</div>
					</div>
					<div id="caroline_pics" class="uk-modal">
    						<div class="uk-modal-dialog" style="margin-top:150px;width:70%;min-height:400px;">
        						<a href="" class="uk-modal-close uk-close uk-close-alt"></a>
        							<h2>Caroline, 27, Berkeley</h2><br>
										"At first I tried to get quotes from florists on my own, but it was too much work. RoseBid made the process so quick and easy."<br>
        										<span class="crop"><%= image_tag 'pic33.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic34.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic35.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic16.jpeg' %></span>
        										<span class="crop"><%= image_tag 'pic17.jpeg' %></span>
    						</div>
					</div>			

				</div>
			</div>
	</div>
</div>
<div style="margin-bottom:20px;"><a href="#" style="margin-left:88%;margin-right:0px;"><i>Learn More...</i></a></div>

</div>
</div>
</div>
</div>

</div>