	<div class="colorblocklight">
		<div id="reviews">

			<div id='wsite-content' class='wsite-elements wsite-not-footer'>
				<h3 class="wsite-content-title" style="text-align:center;">What Our Customers Say...</h3>
				<div>
					<div class="wsite-multicol">
						<div class='wsite-multicol-table-wrap' style='margin:0 -5px'>
							<table class='wsite-multicol-table'>
								<tbody class='wsite-multicol-tbody'>
									<tr class='wsite-multicol-tr'>
										<td class='wsite-multicol-col' style='width:50%;padding:0 5px'>
											
											<!-- START Reviews BOX ONE -->
											<span class='imgPusher' style='float:left;height:0px'></span>
											<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
											<a>
											<%= image_tag 'pic18.jpeg', :class =>'galleryImageBorder galleryHeader wsite-image' %>
											</a>
											<span style="display: block; font-size: 90%; margin-top: -0px; margin-bottom: 0px; text-align: center;" class="wsite-caption"></span></span>
											
											<div class="paragraph" style="text-align:left;display:block;">Brittany, 29, Austin<br />"I spent for-EVER calling florists and trying to get prices. RoseBid made it really easy! My flowers were beautiful!"</div>
											<hr style="width:100%;clear:both;visibility:hidden;"></hr>
											
											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='511063014915295518-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='511063014915295518-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer0' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='/assets/images/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
												<%= image_tag 'pic18.jpeg', :class =>'galleryImage' %>
												</a>
												</div>
												</div>
												</div>
												</div>
												
												<div id='511063014915295518-imageContainer1' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer1' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic19.jpeg', :class =>'galleryImage' %>
													</a>
												</div>
												</div>
												</div>
												</div>
												
												<div id='511063014915295518-imageContainer2' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer2' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic20.jpeg', :class =>'galleryImage' %>
													</a>
												
												</div></div></div></div>
												
											<div id='511063014915295518-imageContainer3' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer3' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
													
													<%= image_tag 'pic21.jpeg', :class =>'galleryImage' %>
													</a>
											</div></div></div></div>
											<div id='511063014915295518-imageContainer4' style='float:left;width:19.95%;margin:0;'>
												<div id='511063014915295518-insideImageContainer4' style='position:relative;margin:5px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery511063014915295518]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic22.jpeg', :class =>'galleryImage' %>
												</a>
											</div></div></div></div>
												<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
											</div>

											<!-- START IMAGE TWO -->
											<div style="height: 0px; overflow: hidden;"></div>
											</div>
											<span class='imgPusher' style='float:left;height:0px'></span>
											<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
											<a>
											<%= image_tag 'pic23.jpeg', :class =>'galleryImageBorder galleryHeader wsite-image' %>		
											</a>
											<span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span></span>
											
											<div class="paragraph" style="text-align:left;display:block;">Angie, 26, California<br />"Planning a destination wedding was a lot of work, but thanks to RoseBid getting the perfect flowers was easy!"</div>
											<hr style="width:100%;clear:both;visibility:hidden;"></hr>

											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='611970405564771423-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='611970405564771423-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic23.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer1' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer1' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic24.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer2' style='float:left;width:19.95%;margin:0;'><div id='611970405564771423-insideImageContainer2' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic25.jpeg', :class =>'galleryImage' %>
												</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer3' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer3' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
														<%= image_tag 'pic26.jpeg', :class =>'galleryImage' %>
													</a>
												</div></div></div></div>
												<div id='611970405564771423-imageContainer4' style='float:left;width:19.95%;margin:0;'>
												<div id='611970405564771423-insideImageContainer4' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery611970405564771423]' onclick='if (!window.lightboxLoaded) return false'>
														<%= image_tag 'pic27.jpeg', :class =>'galleryImage' %>
													</a>
												</div></div></div></div>
												<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
											</div>

											<div style="height: 0px; overflow: hidden;"></div></div>
										</td>
										<td>
											&nbsp;
										</td>
										<!-- START COLUMN TWO -->
										<!-- START GALLERY THREE -->
										<td class='wsite-multicol-col' style='width:50%;padding:0 5px'>

											<span class='imgPusher' style='float:left;height:0px'></span>
											<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
												<a>
													<%= image_tag 'pic28.jpeg', :class =>'galleryImageBorder galleryHeader wsite-image' %>
												</a>
												<span style="display: block; font-size: 90%; margin-top: -0px; margin-bottom: 0px; text-align: center;" class="wsite-caption"></span></span>
											<div class="paragraph" style="text-align:left;display:block;">Jennifer, 25, Boston<br />"RoseBid was so easy to use. &nbsp;I filled in my style profile &amp; almost immediately had reasonable quotes from florists in my area."</div>

											<hr style="width:100%;clear:both;visibility:hidden;"></hr>

											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='289418634959057987-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='289418634959057987-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='289418634959057987-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
														<%= image_tag 'pic28.jpeg', :class =>'galleryImage' %>
													</a>
												</div></div></div></div>
											<div id='289418634959057987-imageContainer1' style='float:left;width:19.95%;margin:0;'>
											<div id='289418634959057987-insideImageContainer1' style='position:relative;margin:0px;'>
											<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
											<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
												<%= image_tag 'pic29.jpeg', :class =>'galleryImage' %>
												</a>
											</div></div></div></div>
											<div id='289418634959057987-imageContainer2' style='float:left;width:19.95%;margin:0;'>
											<div id='289418634959057987-insideImageContainer2' style='position:relative;margin:0px;'>
											<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
											<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
														<%= image_tag 'pic30.jpeg', :class =>'galleryImage' %>
												</a>
											</div></div></div></div>
											<div id='289418634959057987-imageContainer3' style='float:left;width:19.95%;margin:0;'>
											<div id='289418634959057987-insideImageContainer3' style='position:relative;margin:0px;'>
											<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
											<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
														<%= image_tag 'pic31.jpeg', :class =>'galleryImage' %>
												</a>
											</div></div></div></div>
											<div id='289418634959057987-imageContainer4' style='float:left;width:19.95%;margin:0;'>
											<div id='289418634959057987-insideImageContainer4' style='position:relative;margin:0px;'>
											<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
											<div class='galleryInnerImageHolder'>
												<a href='./img/pic18.jpeg' rel='lightbox[gallery289418634959057987]' onclick='if (!window.lightboxLoaded) return false'>
														<%= image_tag 'pic32.jpeg', :class =>'galleryImage' %>
												</a>
											</div></div></div></div>
											<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
											</div>

											<!-- START Image Gallery 4 -->
											<div style="height: 0px; overflow: hidden;"></div></div>

											<span class='imgPusher' style='float:left;height:0px'></span>
											<span style='z-index:10;position:relative;float:left;max-width:100%;;clear:left;margin-top:0px;*margin-top:0px'>
												<a>
													<%= image_tag 'pic33.jpeg', :class =>'galleryImageBorder galleryHeader wsite-image' %>
												
												</a>
												<span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption">
												</span>
											</span>

											<div class="paragraph" style="text-align:left;display:block;">Caroline, 27, New York<br />"At first I tried to get quotes from florists on my own, but it was too much work. RoseBid made the process so quick and easy."</div>
											<hr style="width:100%;clear:both;visibility:hidden;"></hr>

											<div><div style="height: 0px; overflow: hidden;"></div>
											<div id='255855703393962300-gallery' class='imageGallery' style='line-height: 0px; padding: 0; margin: 0'>
												<div id='255855703393962300-imageContainer0' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer0' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='/./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic33.jpeg', :class =>'galleryImage' %>
								
													</a>
												</div></div></div></div>
												<div id='255855703393962300-imageContainer1' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer1' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic34.jpeg', :class =>'galleryImage' %>
													</a>
												</div></div></div></div>
												<div id='255855703393962300-imageContainer2' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer2' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic35.jpeg', :class =>'galleryImage' %>
													</a>
												</div></div></div></div>
												<div id='255855703393962300-imageContainer3' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer3' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic16.jpeg', :class =>'galleryImage' %>
													</a>
												</div></div></div></div>
												<div id='255855703393962300-imageContainer4' style='float:left;width:19.95%;margin:0;'>
												<div id='255855703393962300-insideImageContainer4' style='position:relative;margin:0px;'>
												<div class='galleryImageHolder' style='position:relative; width:100%; padding:0 0 75%;overflow:hidden;'>
												<div class='galleryInnerImageHolder'>
													<a href='./img/pic18.jpeg' rel='lightbox[gallery255855703393962300]' onclick='if (!window.lightboxLoaded) return false'>
													<%= image_tag 'pic17.jpeg', :class =>'galleryImage' %>
													</a>
												</div></div></div></div>
												<span style='display: block; clear: both; height: 0px; overflow: hidden;'></span>
											</div>

											<div style="height: 0px; overflow: hidden;"></div></div>

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>	
				</div>
			</div>
</div>
</div>

