<body class='landing-page  wsite-theme-light wsite-page-index'>

<!-- START Navbar-->
	<%= render file: "/layouts/_navbar.html.erb" %>
<!-- END Navbar-->

<!-- START Banner Section -->
	<%= render file: "/landing_pages/_banner.html.erb" %>
<!-- END Banner Section-->

<!-- START Process_Intro Section -->
	<%= render file: "/landing_pages/_process_intro.html.erb" %>
<!-- END Process_Intro Section-->

<!-- START Block 1 Section -->
	<%= render file: "/landing_pages/_block1.html.erb" %>
<!-- END Block 1 Section-->

<!-- START FLORISTS IN YOUR AREA Section -->
	<%= render file: "/landing_pages/_florists.html.erb" %>
<!-- END Florists Section-->

<!-- START Block 2 Section -->
	<%= render file: "/landing_pages/_block2.html.erb" %>
<!-- END Block 2 Section-->

<!-- START REVIEWS Section -->			
	<%= render file: "/landing_pages/_reviews.html.erb" %>
<!-- END Reviews Section-->

<!-- START Block 3 Section -->
	<%= render file: "/landing_pages/_block3.html.erb" %>
<!-- END Block 3 Section-->

<div style='padding: 20px; width:100%; text-align:center;'>Home | Content | About Us</div>

</body>