<!DOCTYPE html>
<html>
<head>
<!-- Start Optimizely -->
<script src="//cdn.optimizely.com/js/786477722.js"></script>
<!-- End Optimizely -->
	<title>Rose Bid - Find the Perfect Flowers for Your Wedding | <%= yield(:title) %></title>
	<meta name='description' content='We match you with amazing florists for your wedding needs.' />
	<meta name='keywords' content='wedding, flowers, value, quality, bouquets' />
	<meta property='og:site_name' content='Rose Bid - Find the Perfect Flowers for Your Wedding' />
	<meta property='og:title' content='Rose Bid Home' />
	<meta property='og:description' content='We are a service that matches you to reputable florists for your wedding needs.' />
	<meta property='og:url' content='http://www.rose-bid.com/' />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	
<!-- START Google Analytics Files-->
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-49645908-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>

<!-- START CSS/JS Files-->
  	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>

<!-- START FONT Files-->
	<link href="http://fonts.googleapis.com/css?family=Cinzel+Decorative:400|" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Stalemate:400' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Clicker+Script:400|' rel='stylesheet' type='text/css' />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- END FONT Files-->

<!-- START EXTERNAL CSS FOR WEEBLY IMAGE GALLERY, ETC>-->
    <link href="http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css" rel="stylesheet" type="text/css">
<!-- END EXTERNAL CSS -->

<!-- START EXTERNAL CSS FOR WEEBLY IMAGE GALLERY, ETC>-->
    <link href="http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css" rel="stylesheet" type="text/css">
<!-- END EXTERNAL CSS -->


</head>

       

<!-- START YIELD -->

		<%= yield %>
			
<!-- END YIELD -->

<div style='padding: 20px; width:100%; text-align:center;background:black;'>
		<%= link_to "Home", landing_pages_indexa_path %> | <%= link_to "Team", static_pages_about_path %> | <%= link_to "How It Works", static_pages_how_it_works_path %> | <%= link_to "Contact", static_pages_contact_path %>
</div>

</body>
</html>